<div class="section footer-version-one wf-section">
    <div class="main-container">
      <div class="content-wrap space-between footer-one-top">
        <a data-w-id="d3108c5c-c674-4c6c-f8ce-9639209a148b" href="{{ links.-1499fd1d }}" aria-current="page" class="footer-logo-link w-inline-block w--current"><img src="{{ images.6c890f16.url }}" loading="lazy" alt="{{ images.6c890f16.alt | trim | escape }}" class="footer-logo-image"></a>
        <div class="socials-footer-wrap">
          <a data-w-id="d3108c5c-c674-4c6c-f8ce-9639209a148e" href="{{ links.23 }}" class="social-link footer-one w-inline-block"><img src="{{ images.429255f7.url }}" loading="lazy" alt="{{ images.429255f7.alt | trim | escape }}"></a>
          <a data-w-id="d3108c5c-c674-4c6c-f8ce-9639209a1490" href="{{ links.23 }}" class="social-link footer-one w-inline-block"><img src="{{ images.56ac6cc.url }}" loading="lazy" alt="{{ images.56ac6cc.alt | trim | escape }}"></a>
          <a data-w-id="d3108c5c-c674-4c6c-f8ce-9639209a1492" href="{{ links.23 }}" class="social-link footer-one w-inline-block"><img src="{{ images.63d3600f.url }}" loading="lazy" alt="{{ images.63d3600f.alt | trim | escape }}"></a>
        </div>
      </div>
      <div class="space-32"></div>
      <div class="content-wrap space-between footer-bottom">
        <div class="limit-400 footer-big-text">
          <div data-w-id="d3108c5c-c674-4c6c-f8ce-9639209a1497" class="footer-big-text">{{ texts.7f88a467 }}<br>{{ texts.3758e217 }}<br></div>
        </div>
      </div>
    </div>
    <div class="footer-legal-wrap">
      <div class="main-container">
        <div data-w-id="d3108c5c-c674-4c6c-f8ce-9639209a149f" class="content-wrap left-align footer-legal-one">
          <div class="text-block-7">{{ texts.-6bb908a7 }}<a href="{{ links.645c55b1 }}" target="_blank" class="link">{{ texts.a9be8a0 }}</a>
          </div>
          <div>
            <a href="{{ links.-7edc331b }}">{{ texts.45e7299 }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>