<div class="section footer-version-one wf-section">
    <div class="main-container">
      <div class="content-wrap space-between footer-one-top">
        <a data-w-id="2bdfc540-cc5d-3c69-51c7-dabef2815387" href="{{ links.2f }}" class="footer-logo-link w-inline-block"><img src="{{ images.6c890f16.url }}" loading="lazy" alt="{{ images.6c890f16.alt | trim | escape }}" class="footer-logo-image"></a>
        <div class="socials-footer-wrap">
          <a data-w-id="2bdfc540-cc5d-3c69-51c7-dabef281538a" href="{{ links.23 }}" class="social-link footer-one w-inline-block"><img src="{{ images.429255f7.url }}" loading="lazy" alt="{{ images.429255f7.alt | trim | escape }}"></a>
          <a data-w-id="2bdfc540-cc5d-3c69-51c7-dabef281538c" href="{{ links.23 }}" class="social-link footer-one w-inline-block"><img src="{{ images.56ac6cc.url }}" loading="lazy" alt="{{ images.56ac6cc.alt | trim | escape }}"></a>
          <a data-w-id="2bdfc540-cc5d-3c69-51c7-dabef281538e" href="{{ links.23 }}" class="social-link footer-one w-inline-block"><img src="{{ images.63d3600f.url }}" loading="lazy" alt="{{ images.63d3600f.alt | trim | escape }}"></a>
        </div>
      </div>
      <div class="space-32"></div>
      <div class="content-wrap space-between footer-bottom">
        <div class="limit-400 footer-big-text">
          <div data-w-id="2bdfc540-cc5d-3c69-51c7-dabef2815393" class="footer-big-text">{{ texts.-1013ae7a }}<br>{{ texts.3758e217 }}<br></div>
        </div>
      </div>
    </div>
    <div class="footer-legal-wrap">
      <div class="main-container">
        <div data-w-id="2bdfc540-cc5d-3c69-51c7-dabef28153b3" class="content-wrap left-align footer-legal-one">
          <div class="text-block-6">{{ texts.-6bb908a7 }}<a href="{{ links.645c55b1 }}" target="_blank" class="konoha-link">{{ texts.a9be8a0 }}</a>
          </div>
          <div>
            <a href="{{ links.5b226618 }}">{{ texts.77b25012 }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>