<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="navbar-container w-container">
      <div class="navbar-content-wrap">
        <a href="{{ links.-1499fd1d }}" aria-current="page" class="brand-navbar w-nav-brand w--current"><img src="{{ images.6c890f16.url }}" loading="lazy" width="149" height="Auto" alt="{{ images.6c890f16.alt | trim | escape }}" class="navbar-logo-image"></a>
        <nav role="navigation" class="nav-menu with-dropdowns w-nav-menu">
          <a href="{{ links.-1bca0e7c }}" class="nav-link w-nav-link">{{ texts.-7ca205c8 }}</a>
          <a href="{{ links.-280c6172 }}" class="nav-link w-nav-link">{{ texts.1dc02d42 }}</a>
          <a href="{{ links.50438681 }}" class="nav-link w-nav-link">{{ texts.4b4273e7 }}</a>
          <a href="{{ links.-4f36ab7b }}" class="nav-link w-nav-link">{{ texts.-6b1c9aaf }}</a>
          <a href="{{ links.-3384cb4 }}" class="cta header-one w-inline-block">
            <div>{{ texts.-64104400 }}</div>
          </a>
          <a href="{{ links.2f }}" class="nav-link language-switcher startseite-link w-nav-link">{{ texts.881 }}</a>
          <div class="text-block-5">{{ texts.7c }}</div>
          <a href="{{ links.-1499fd1d }}" aria-current="page" class="nav-link language-switcher page-link w-nav-link w--current">{{ texts.8cc }}</a>
        </nav>
        <div class="menu-button menu-button-one w-nav-button"><img src="{{ images.9ef3c01.url }}" loading="lazy" alt="{{ images.9ef3c01.alt | trim | escape }}" class="hamburger-icon"></div>
      </div>
    </div>
  </div>