<div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="554efb0e-8002-964f-1abc-4bfacd81c33e" role="banner" data-duration="400">
    <div class="navbar-container w-container">
      <div class="navbar-content-wrap">
        <a href="{{ links.2f }}" class="brand-navbar w-nav-brand"><img src="{{ images.6c890f16.url }}" loading="lazy" width="149" height="Auto" alt="{{ images.6c890f16.alt | trim | escape }}" class="navbar-logo-image"></a>
        <nav role="navigation" class="nav-menu with-dropdowns w-nav-menu">
          <a href="{{ links.3be5daa2 }}" class="nav-link w-nav-link">{{ texts.-7107ef3d }}</a>
          <a href="{{ links.20d06dfd }}" class="nav-link w-nav-link">{{ texts.3004fbfc }}</a>
          <a href="{{ links.11431ae }}" class="nav-link w-nav-link">{{ texts.-2da98332 }}</a>
          <a href="{{ links.2c62666d }}" class="nav-link w-nav-link">{{ texts.5291dcec }}</a>
          <a href="{{ links.33ed0901 }}" class="cta header-one w-inline-block">
            <div>{{ texts.43219700 }}</div>
          </a>
          <a href="{{ links.3be5daa2 }}" class="nav-link language-switcher w-nav-link">{{ texts.881 }}</a>
          <div class="text-block-5">{{ texts.7c }}</div>
          <a href="{{ links.-1bca0e7c }}" class="nav-link language-switcher w-nav-link">{{ texts.8cc }}</a>
        </nav>
        <div class="menu-button menu-button-one w-nav-button"><img src="{{ images.9ef3c01.url }}" loading="lazy" alt="{{ images.9ef3c01.alt | trim | escape }}" class="hamburger-icon"></div>
      </div>
    </div>
  </div>